/* BODY */
body{
    font-family: 'Lato', sans-serif;
}
/* BODY END */

/* CONTAINER */
.container{
    width:100%;
    margin: 0 auto;
}
/* CONTAINTER END */

/* LANDING PAGE */
.lp_containter{
    width:100%;
    height: 80vh;
    position:relative;
    background-color: #404B55;
    background:url("../media/ph1600x1067.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.lp_shadow{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}

.center_flex{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    vertical-align: middle;
}

.lp_content{

    display:block;
}

.lp_content >*{
    margin-top:5vh;
}

.lp_h1{
    font-size:52px;
    font-weight: 900;
    color:white;
    line-height: 56px;
}

.lp_p{
    font-size:22px;
    line-height: 26px;
    color:white;
}
/* LANDING PAGE END */

/* BUTTONS */
.btn{
	color:white;
	text-align:center;
	text-decoration:none;
	border:none;
	border-radius:4px;
    cursor:pointer;
    font-weight: 700;
}

.btn_menu{
    font-size:15px;
    font-weight: 700;
    padding:3px;
}

.btn_green{
	background-color:#55B68B;
}

.btn_box{
    width:120px;
    height:50px;
    font-size:16px;
    font-weight: 600;
    margin-top:15px;
    border: 3px solid white;
}

.btn_transparent{
    background-color: transparent;

}

.btn_lp{
    box-shadow:0px 2px #477D66;
    padding:2vh;
    margin-right: 7px;
 }

 .btn_play{
    box-shadow:none;
    padding:2vh;
    border:none;
}

.btn_play_icon{
     font-size:15px;
     color:white;
     padding-right:5px;
     
}

.display_buttons{
    margin-top:5vh;
    margin-left:3px;
}

/* BUTTONS END */

/* NAVIGATION */

nav{
    background-color:white;
}
.logo{
    display: inline-block;
    cursor:pointer;
    opacity:0.8;
    
}

.navbar_toggle {
    position: absolute;
    right: 20px;
    cursor: pointer; 
    font-size: 24px;
}

.nav_containter{
    position:relative;
    height:60px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center; 
    padding:1%;
    box-sizing:border-box;
    background:white;
}

.menu_links{
    width:100vw;
    top:35%;
    font-size:15px;
    color:#404B55;
    opacity:0.8;
    font-weight: 700;
    display:none;
}

a:link,a:visited,a:hover,a:active{
    text-decoration:none;
    background:none;
    color:#404B55;
}
.menu_links > span:hover a{
    opacity:0.5;
}
.menu_links > span:last-of-type a{
    background:invert(29%);
    opacity:1;
}


.menu_links span {
    width:100%;
    cursor:pointer;
    display:block;
    text-align: center;
    box-sizing:border-box;
    padding-top:2%;
    padding-bottom:2%;
}

.menu_links span:hover{
    background-color:rgba(211,211,211,.5)}


/* Font awesome color */
i.fab {
    color:black;
}

/* NAVIGATION END */

/* COURSES */

.courses_top{
    width: 100%;
    height: 100%;
    padding-top:10vh;
    padding-bottom:5vh;
    text-align: center;
}

.courses_bottom{
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top:2vh;
    padding-bottom: 10vh;
    margin: 0 auto;
}

.courses_h2{
    font-size:42px;
    font-weight: 900;
    line-height: 46px;
    color:#6B696C;
    padding:1%;
}

.courses_p{
    font-size:22px;
    font-weight:400;
    line-height: 26px;
    color:#6B696C;
}

.courses_boxes{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.box{
    position: relative;
    width: 100%;
    border-radius:5px;
    margin:1vw;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.box:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.box_content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding:20%;
    box-sizing:border-box;
}

.box_content > .box_h2,.box_text{
    padding-top:5%;
}

.box_h2{
    font-size:19px;
    font-weight: 900;
    color:white;
}

.box_text{
    font-size:16px;
    line-height: 20px;
    color:white;
}

.python{
    background-color:#55B68B;
}

.android{
    background-color:#439FE0
}

.react{
    background-color:#525E6C;
}

.node{
    background-color:#525E6C
}

.user_exper{
    background-color:#55B68B;
}

.ios_mobile{
    background-color:#439FE0;
}

.margin_courses button {
    margin-top:30px;
}

.level_icons {
    font-size:14px;
    padding:20px;
    cursor: pointer;
}
/* COURSES END */

/* FOOTER */

footer{
    width:100%;
    height:10vh;
    position:flex;
    bottom:0;
    margin-bottom:0;
}

.footer_container{
    display:flex;
    width: 100%;
    height:100%;
    background-color: #F0F1F5;
}

.footer_style{
    display:flex;
    justify-content:space-between;
    align-items:center;  
    font-size:15px;
    font-weight: 700;
}

.footer_icons li{
    display:inline;
    font-size:15px;
    padding-left:0.5vw;
    cursor: pointer;
}
/* FOOTER END */
