.container{
    width: 1140px;
    margin: 0 auto;
}

.box{
    position: relative;
    width: 30%;
    border-radius:5px;
    margin:1vw;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.logo{
    cursor:pointer;
}

.box{
    position: relative;
    width: 30%;
    border-radius:5px;
    margin:1vw;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.box_h2{
    font-size:17px;
    font-weight: 900;
    color:white;
}

.box_text{
    font-size:14px;
    line-height: 20px;
    color:white;
}

.nav_containter{
    display:flex;
    justify-content:space-between;
    align-items:center;
    vertical-align: bottom;
}

.menu_links{
    width:auto;
    font-size:15px;
    color:#404B55;
    opacity:0.8;
    font-weight: 700;
    display:flex;
    align-items: center;
    
}

.menu_links span {
    width:auto;
    cursor:pointer;
    display:block;
    padding-left:1.5vw;
    text-align: center;
    box-sizing:border-box;
    padding-top:auto;
    padding-bottom:auto;
}

.menu_links span:hover{
   background:none;
}

.menu_links > span:last-of-type{
    padding-left:0.5vw;
}

.navbar_toggle{
    display:none;
}

.box_h2{
    font-size:19px;
    font-weight: 900;
    color:white;
}

.box_text{
    font-size:16px;
    line-height: 20px;
    color:white;
}
/* powrot do orginalnej kolejnosci boxow */
.python { order: 1; }
.android { order: 2; }
.react { order: 3; }
.node { order: 4; }
.user_exper { order: 5; }
.ios_mobile { order: 6; }